In [134]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [135]:
data = pd.read_csv('C:\\Users\\20100\\Desktop\\graduation project\\data\\IKEA_SA_Furniture_Web_Scrapings_sss.csv')
data.head()

,item_id,name,category,price,old_price,sellable_online,link,other_colors,short_description,designer,depth,height,width
0,90420332,FREKVENS,Bar furniture,265.0,No old price,True,https://www.ikea.com/sa/en/p/frekvens-bar-tabl...,No,"Bar table, in/outdoor, 51x51 cm",Nicholai Wiig Hansen,NaN,99.0,51.0
1,368814,NORDVIKEN,Bar furniture,995.0,No old price,False,https://www.ikea.com/sa/en/p/nordviken-bar-tab...,No,"Bar table, 140x80 cm",Francis Cayouette,NaN,105.0,80.0
2,9333523,NORDVIKEN / NORDVIKEN,Bar furniture,2095.0,No old price,False,https://www.ikea.com/sa/en/p/nordviken-nordvik...,No,Bar table and 4 bar stools,Francis Cayouette,NaN,NaN,NaN
3,80155205,STIG,Bar furniture,69.0,No old price,True,https://www.ikea.com/sa/en/p/stig-bar-stool-wi...,Yes,"Bar stool with backrest, 74 cm",Henrik Preutz,50.0,100.0,60.0
4,30180504,NORBERG,Bar furniture,225.0,No old price,True,https://www.ikea.com/sa/en/p/norberg-wall-moun...,No,"Wall-mounted drop-leaf table, ...",Marcus Arvonen,60.0,43.0,74.0

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3694 entries, 0 to 3693
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   item_id            3694 non-null   int64
 1   name               3694 non-null   object
 2   category           3694 non-null   object
 3   price              3694 non-null   float64
 4   old_price          3694 non-null   object
 5   sellable_online    3694 non-null   bool
 6   link               3694 non-null   object
 7   other_colors       3694 non-null   object
 8   short_description  3694 non-null   object
 9   designer           3694 non-null   object
 10  depth              2231 non-null   float64
 11  height             2706 non-null   float64
 12  width              3105 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(7)
memory usage: 350.0+ KB

In [137]:
df = data.copy()

In [138]:
df.duplicated().count()

3694

In [139]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1899 entries, 3 to 3688
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   item_id            1899 non-null   int64
 1   name               1899 non-null   object
 2   category           1899 non-null   object
 3   price              1899 non-null   float64
 4   old_price          1899 non-null   object
 5   sellable_online    1899 non-null   bool
 6   link               1899 non-null   object
 7   other_colors       1899 non-null   object
 8   short_description  1899 non-null   object
 9   designer           1899 non-null   object
 10  depth              1899 non-null   float64
 11  height             1899 non-null   float64
 12  width              1899 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(7)
memory usage: 194.7+ KB

In [140]:
df.describe()

            item_id        price        depth       height        width
count  1.899000e+03  1899.000000  1899.000000  1899.000000  1899.000000
mean   4.880518e+07  1220.626962    56.156398   113.109531   119.751975
std    2.915014e+07  1422.088876    30.579497    62.748882    77.515205
min    1.165950e+05     6.000000     1.000000     2.000000     2.000000
25%    2.034380e+07   295.000000    40.000000    71.000000    60.000000
50%    4.927859e+07   680.000000    47.000000    92.000000    93.000000
75%    7.043965e+07  1589.000000    60.000000   171.000000   161.500000
max    9.990379e+07  9585.000000   257.000000   301.000000   420.000000

In [141]:
df.head()

,item_id,name,category,price,old_price,sellable_online,link,other_colors,short_description,designer,depth,height,width
3,80155205,STIG,Bar furniture,69.0,No old price,True,https://www.ikea.com/sa/en/p/stig-bar-stool-wi...,Yes,"Bar stool with backrest, 74 cm",Henrik Preutz,50.0,100.0,60.0
4,30180504,NORBERG,Bar furniture,225.0,No old price,True,https://www.ikea.com/sa/en/p/norberg-wall-moun...,No,"Wall-mounted drop-leaf table, ...",Marcus Arvonen,60.0,43.0,74.0
5,10122647,INGOLF,Bar furniture,345.0,No old price,True,https://www.ikea.com/sa/en/p/ingolf-bar-stool-...,No,"Bar stool with backrest, 63 cm",Carina Bengs,45.0,91.0,40.0
6,70404875,FRANKLIN,Bar furniture,129.0,No old price,True,https://www.ikea.com/sa/en/p/franklin-bar-stoo...,No,"Bar stool with backrest, foldable, ...",K Hagberg/M Hagberg,44.0,95.0,50.0
8,50406465,FRANKLIN,Bar furniture,129.0,No old price,True,https://www.ikea.com/sa/en/p/franklin-bar-stoo...,No,"Bar stool with backrest, foldable, ...",K Hagberg/M Hagberg,44.0,95.0,50.0

In [142]:
df["category"].value_counts()

Bookcases & shelving units              375
Sofas & armchairs                       223
Chairs                                  213
Wardrobes                               199
Cabinets & cupboards                    199
Chests of drawers & drawer units        121
Tables & desks                          103
TV & media furniture                     95
Outdoor furniture                        81
Children's furniture                     78
Beds                                     78
Nursery furniture                        62
Bar furniture                            24
Sideboards, buffets & console tables     20
Café furniture                           13
Trolleys                                  9
Room dividers                             6
Name: category, dtype: int64

In [143]:
df["price"].dtype

dtype('float64')

In [144]:
df["old_price"] = df["old_price"].replace("No old price","").str.extract(r'^SR\s(.*)', expand=False)

In [145]:
df.head()

,item_id,name,category,price,old_price,sellable_online,link,other_colors,short_description,designer,depth,height,width
3,80155205,STIG,Bar furniture,69.0,NaN,True,https://www.ikea.com/sa/en/p/stig-bar-stool-wi...,Yes,"Bar stool with backrest, 74 cm",Henrik Preutz,50.0,100.0,60.0
4,30180504,NORBERG,Bar furniture,225.0,NaN,True,https://www.ikea.com/sa/en/p/norberg-wall-moun...,No,"Wall-mounted drop-leaf table, ...",Marcus Arvonen,60.0,43.0,74.0
5,10122647,INGOLF,Bar furniture,345.0,NaN,True,https://www.ikea.com/sa/en/p/ingolf-bar-stool-...,No,"Bar stool with backrest, 63 cm",Carina Bengs,45.0,91.0,40.0
6,70404875,FRANKLIN,Bar furniture,129.0,NaN,True,https://www.ikea.com/sa/en/p/franklin-bar-stoo...,No,"Bar stool with backrest, foldable, ...",K Hagberg/M Hagberg,44.0,95.0,50.0
8,50406465,FRANKLIN,Bar furniture,129.0,NaN,True,https://www.ikea.com/sa/en/p/franklin-bar-stoo...,No,"Bar stool with backrest, foldable, ...",K Hagberg/M Hagberg,44.0,95.0,50.0

In [146]:
df["sellable_online"].value_counts()

True     1886
False      13
Name: sellable_online, dtype: int64

In [147]:
# drop false rows 
df = df[df["sellable_online"] != False]

In [148]:
df["sellable_online"].value_counts()

True    1886
Name: sellable_online, dtype: int64

In [149]:
#df = df.drop(columns=["link"],axis=1)

In [150]:
df["other_colors"].value_counts()

No     979
Yes    907
Name: other_colors, dtype: int64

In [151]:
df.head()

,item_id,name,category,price,old_price,sellable_online,link,other_colors,short_description,designer,depth,height,width
3,80155205,STIG,Bar furniture,69.0,NaN,True,https://www.ikea.com/sa/en/p/stig-bar-stool-wi...,Yes,"Bar stool with backrest, 74 cm",Henrik Preutz,50.0,100.0,60.0
4,30180504,NORBERG,Bar furniture,225.0,NaN,True,https://www.ikea.com/sa/en/p/norberg-wall-moun...,No,"Wall-mounted drop-leaf table, ...",Marcus Arvonen,60.0,43.0,74.0
5,10122647,INGOLF,Bar furniture,345.0,NaN,True,https://www.ikea.com/sa/en/p/ingolf-bar-stool-...,No,"Bar stool with backrest, 63 cm",Carina Bengs,45.0,91.0,40.0
6,70404875,FRANKLIN,Bar furniture,129.0,NaN,True,https://www.ikea.com/sa/en/p/franklin-bar-stoo...,No,"Bar stool with backrest, foldable, ...",K Hagberg/M Hagberg,44.0,95.0,50.0
8,50406465,FRANKLIN,Bar furniture,129.0,NaN,True,https://www.ikea.com/sa/en/p/franklin-bar-stoo...,No,"Bar stool with backrest, foldable, ...",K Hagberg/M Hagberg,44.0,95.0,50.0

In [153]:
df = df.drop(columns=["designer"],axis=1)

In [154]:
df.to_csv("C:\\Users\\20100\\Desktop\\graduation project\\data\\furniture_store.csv")